
<div class="row">
    <div class="col s12 m12">
        <div class="card blue-grey lighten-4">
        <div class="card-content grey-text text-darken-4">
            <h4 class="center header col s12 ligth deep-purple-text text-darken-4">Acerca de mi app</h4>
            <h5 class="header col s12 ligth grey-text text-darken-4">Version: {{ appVersion }}</h5>
            <span class="card-title row center deep-purple-text text-darken-4">Esta contruida bajo las siguientes tecnologías</span>
            <ul class="">
            <li>ExpressJS</li>
            <li>Handlebars como sistema de plantillas</li>
            <li>Webpack + Babel para el front-end</li>
            <li>Babel para la parte del back-end</li>
            <li>Eslint con la guía de estilos de AirBnB</li>
            <li>Prettier</li>
            <li>Winston como logger</li>
            </ul>
        </div>
        <div class="card-action">
            <a href="#" class="teal-text text-darken-4">Visita mi portafolio 💼</a>
            <a href="#" class="teal-text text-darken-4 right">Visita mi perfil de OCC 🌎</a>
        </div>
        </div>
    </div>
</div>