<div class="row center">
        <h4 class="header col s12 ligth teal-text text-darken-4">😳 Bienvenido 😳</h4>
</div>
<div class="row">
    <div class="col s12 m7">
        <div class="card blue-grey lighten-4">
        <div class="card-content grey-text text-darken-4">
            <span class="card-title row center">Acerca de mi app</span>
            <p>Version: {{ appVersion }}</p>
        </div>
        <div class="card-action">
            <a href="#">🦖</a>
            <a href="#">🦕</a>
        </div>
        </div>
    </div>
</div>